/* nav related css */
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 220px;
}
body{
   font-family: 'Open Sans', sans-serif;
} 
.nav-titel{
   color: black;
   font-size: 45px;
   font-weight: 800;
   line-height: normal;
}
.orenge{
   color:#FD6E0A ;
}
nav>ul{
   display: flex;
   list-style: none;
   align-items: center;
   
}
nav li{
   margin-right: 50px;
}
nav a{
   text-decoration: none;
   color: rgb(105, 104, 104);
}
.primary-btn{
   width: 160px;
   height: 64px;
   flex-shrink: 0;
   border-radius: 5px;
   background: #FD6E0A;
   border: 0px;
   font-size:20px;
   font-weight: 700;
   color: white;
   padding: 18px 35px;
}

/* header related style */
.header{
   background-color: #fbede3;;
}
.banner{
   padding: 30px 30px 30px 220px;
   display: flex;
   align-items: center;
}
.banner .profile-pic{
   width: 584px;
   height: 450px;
  
}